*{
  font-family: 'Raleway';
  box-sizing: border-box;
  margin: 0;
  padding: 0
}


#logo{
  max-width: 30%;
  max-height: 47px;
  float: left;
  background: rgb(255, 255, 255);
}

main{
  max-width: 100%;
}

.container{
  position:relative;
  overflow: hidden;
  max-width: auto;
}

#bg-img{
  position: fixed;
  width: 100%;
  height: 100%;
  image-resolution: 1080px;
  z-index: -1;
}

#cover-img{
  width: 100%;
  height: 400px;
  image-resolution: 1080px;
  border-radius: 5px;
}

header{
  text-align: left;
  margin-bottom: 20px;
  max-width: auto;
}

header p{
  display: inline-box;
  font-size: 40px;
  text-align: center;
  background: rgb(255, 255, 255);
}


#navbar-1 li{
  list-style: none;
  margin: 0;
  padding: 5px;
  background: rgb(246, 43, 43);
  overflow: auto;
  text-align: right;
}

#navbar-1 ul{
  display: inline;
  font-size: 20px;
}

#navbar-1 li a{
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

#navbar-1 li a:hover{
  background-color:rgb(246, 192, 192);
  color:rgb(243, 39, 39);
}

#about{
  padding-left: 170px;
  max-width: 100%;
  align-items: center;
}

.article-box {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 5px;
  text-align: justify;
  max-width: 27.5% ;
  background: #ebd0d0;
  border: 1px solid #e7a4a4;
  border-radius: 3px;
  display: inline-block;
}

.article-box:first-child {
  margin-top: 20px;
  padding: 5px 5px;
  text-align: justify;
  max-width: 27.5% ;
  background: #ebd0d0;
  border: 1px solid #e7a4a4;
  border-radius: 3px;
  display: inline-block;
}

#article-img{
  width: 100%;
  height: 200px;
  image-resolution: 1080px;
  border-radius: 5px;
}

#flag{
  background: rgb(246, 43, 43);
  color: #fff;
}

#filler{
  color: #fff;
}
/* aside{
  float: right;
  margin: 10px;
  max-width: auto;
  padding: 5px 10px;
  border: 2px solid rgb(246, 43, 43);
  border-radius: 5px;
  background: rgb(246, 43, 43);
}

aside li{
  list-style: none;
  line-height: 30px;
}

aside a{
  display: block;
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-size: 15px;
  padding-left:5px;
}

aside a:hover{
  background-color:rgb(246, 192, 192);
  color:rgb(243, 39, 39);
} */
